* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}


.tsparticles-canvas-el {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .canvas {
    display: none;
  }
}


:root {
  --primary-white: #f1f1f1;
  --primary-light-grey: #f4f4f4;
  --primary-yellow: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-orange: #ef4035;
  --primary-hover-orange: #f33501;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #353943;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}